.git
.release-work
dist/*.iso
iso/chroot
iso/cache
iso/binary
iso/.build
iso/config/hooks/live/*
iso/config/hooks/normal/*
!iso/config/hooks/normal/010-halo-system.chroot
!iso/config/hooks/normal/020-halo-desktop.chroot
*.png
*.jpg
*.jpeg
*.webp
!iso/config/includes.binary/**/*.png
!iso/config/includes.chroot/**/*.png
*.log
__pycache__
*.pyc
